team-authorized-keys
.Trash
.anyconnect
Public
.CFUserTextEncoding
.mysql_history
Documents
Sites
.gitignore_global
.putty
.composer
Virtual-Router
.cache
.hgignore_global
Movies
.oracle_jre_usage
.ssh
Pictures
dumps
.config
test_repository
.bash_profile.swp
.gitconfig
.bash_history
.subversion
Downloads
Desktop
Music
.bash_sessions
.drush
.viminfo
.WebIde100
mysql-backups
Library
Applications
.DS_Store
drush-backups
